<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>html.template:{$pagename} - {$site_title}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta http-equiv="Content-Language" content="en-gb" />
  <link href="{$path}css.css" rel="stylesheet" rev="stylesheet" type="text/css" media="screen" />
  <link rel="search" type="application/opensearchdescription+xml" title="docs.activestate.com" href="{$path}opensearch.xml">
</head>

<script language="JavaScript" type="text/javascript" src="{$path}label.js"></script>

<script language="JavaScript">
  pageDepth = {$pagedepth};
  setPath();
</script>
<body>


<div id="pageBody">
      <div id="breadCrumbs">{$breadcrumb}</div>
      <div id="contentBody">{$content}</div>
</div>
</body>
</html>
